.output {
  width: 1fr;
  height: 3.2em;
  margin-bottom: 2em;
  padding: 1.1em;
  border-radius: 0.3em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--screen-backlight);
}
